@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-image: linear-gradient(to right, #7ae582, #00a5cf);
    /* background-color: white; */
    width: 100vw;
    height: 100vh;



}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;

}

.container{
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;



}



.conteudo{
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  



}

.imagens{
  background-color: #14746F;
  width: 500px;
  padding: 50px;
  box-shadow: 0 4px 6px rgba(0.5, 0.5, 0.5, 0.5);
  border-radius: 30px 30px 30px 30px;
  margin-right: 100px;
  margin-left: 100px;
  margin: 0 auto;
  display: flex-end;
  align-items: center;
  justify-content:center;
  transition: background-image 5s ease, padding-bottom 0.3s ease;
  
}

.imagens:hover{
  padding-bottom: 400px;





}

.imagens img{
  width: 400px;
  border-radius: 30px 30px 30px 30px;
  transition: background-image 5s ease, transform 0.3s ease;
  padding-bottom: 20px;
  


}
.imagens img:hover{
  transform: scale(1.10);
  border-radius: 30px 30px 30px 30px;


}
.texto{
  color: white;

}

.titulo{
  color: white;
  font-weight: bold;
  padding-bottom: 20px;


}